.business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business img {
    width: 300px;
    height: 350px;
    margin-top: 25px;
}
.info {
    justify-content: center;
    align-items: center;
    display: flex;
}
.info div {
    padding: 0 25px;
    font-size: small;
}